


  html {
    background-color: rgb(4,15,33);
    color: rgb(225,79,152);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
  .App {
    font-family: 'Share Tech Mono', monospace;
    height: 400vh;
  }

 .codenumbers{
     position: absolute;
     display: flex;
     flex-direction: column;
     line-height: .5px;
 }
.torrey {
    font-size: 10rem;
    /* font-family: 'Patua One', cursive; */
    line-height: 100px;
    animation: fadeIn, horizontal-motion 5s;
    animation-timing-function: ease-in-out;
    margin-left: 3px;
}

.web-dev{
    font-size: 30px;
    text-align: center;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
    animation-delay: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
    color: rgb(105,239,251);
}



.thomas{
    font-size: 10rem;
    text-align: right;
    /* font-family: 'Patua One', cursive; */
    line-height: 150px;
    animation: fadeIn, horizontal-motionR 5s;
    animation-timing-function: ease-in-out;  
    margin-left: 10px;
}

  
  @keyframes horizontal-motion {
    0% {
      margin-top: -100px;
      
    }
    50% {
      margin-top: 25vh;
      
    }
    100% {
      margin-top: 100px;
    }
  }


  @keyframes horizontal-motionR {
    0% {
        margin-left: 500px;
      
    }
   
  }

  .closing-tag {
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    animation-delay: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-size:100px;
  }
  
  


.container{
    display: flex;
   align-items: center;
   margin-left: 30px;
}

.nav-item{
    list-style-type: none;
    font-size: 20px;
    margin: 40px;
    animation: fadeIn, bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    animation-delay: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
    padding: 5px;
}
.social-media-links{
    position: fixed;
    font-size: 23px;
    margin: 5px;
    margin-left: 15px;
    padding: 5px;
    color:rgb(250,208,73);
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    animation-delay: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.top-bar {
    margin: 5px;
}

.top-bar:hover{
    color: rgb(225,79,152);
}
.nav-item:hover{
    background-color: rgb(25,26,68);
}

.navigation-bar{
    position: fixed;
    right: 100px;
    color: rgb(250,208,73);
}

.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
        color: rgb(105,239,251);
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
         color: rgb(105,239,251);
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
         color: rgb(105,239,251);
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
         color: rgb(105,239,251);
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
         color: rgb(105,239,251);
    }
  }

  a{
     text-decoration: none;
     color: rgb(250,208,73);

  }

/* About section styles */


#about{
    width: 80vw;
    margin-top: 30vh;
    display: flex;
    justify-content: center;
}

.photo {
    background: url(./portfolioimg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;  
  width: 50vw;
  height: 70vh;
  border-radius: 40px;
  margin-left: 20px;
}

.about-text-container{
    width: 50vw;
    text-align:left;
    align-self: center;
    background-color:black;
    padding: 10px;
}

.introduction {
    font-size: 3em;
}

.bolder{
    font-weight: bolder;
}

.text{
    line-height: 30px;
    font-size: 16px;
}


/* Projects */

#projects{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 50vh;
  margin-top: 80vh;
  flex-wrap: wrap;
  width: 65vw;
}

.project{
  width: 20vw;
  height: 35vh;
  background-color: white;
}

.project1 {
  margin: 20px;
}
.project2 {
  margin: 20px;
}
.project3 {
  margin: 20px;
}
.project4 {
  margin: 20px;
}